{{> menu id = "Home"}}


  
  
  
           
  
     <section id="wallbackground" class="ui piled segment">
      
    <h1 id="header">
      I am Shelfy and I will manage your stuff!
    </h1>
<br>
<br>
  
   <section >
     <div class="ui three column centered grid">
        <div class = "ui column">
        <div id="usage"  class="ui message">
  <p>
   Hi, as you now know I am shelfy, and I am a virtual shelf that helps you organise your things online. This app works with the smart shelves you can buy in our store. 


  </p>  
</div>
        </div>
       <div class = "column">
      <div id ="shelf">
        <br>
        <br>
        <br>
        <br>
       
          <div class="buttons">
      <button class="ui inverted black basic button" onclick="showHow()">  <i class="arrow circle left icon"></i>What is this app?</button>
      
    </div>
         
         
        <br>
          <div class="buttons">
      <button class="ui inverted black basic button" onclick="showWhatItIs()"> How to use this app?<i class="arrow circle right icon"></i></button>
      
    </div>
         <br>
        <br>
        <br>
          <div class="buttons">
      <button class="ui inverted black basic button" onclick="window.location.href='/aboutus'"> About us </button>
      
    </div>
         </div>
         
       
  </div>
       <div class = "ui column">
         <div id="whatItIs"  class="ui message">
  <p>
    To start using me head over to the users menu and simply enter your user nick and open your folder. You should see a form  where you can add your new shelf and inside the shelf you can start adding things ! Remember Stay Organised ! 
For more info about us and where we are visit our about page just below ! 
  </p>  
</div>
        
        </div>
       
       
       
     </div>
    
      
      
      
      
      
</section>
</section> 