<form class="ui stacked segment form" action="/shelf/addShelf" method="POST">
  <div class="field">
    <label>Title</label>
    <input placeholder="Title" type="text" name="title" autofocus required>
  </div>
  <div class="field">
      <label>Description</label>
      <input placeholder="description" type="text" name="description" required>
    </div>
  <button class="ui blue submit button">Add Shelf <i class="plus icon"></i></button>
</form>