<form class="ui stacked segment form" action="/userpage/addUser" method="POST">
  <div class="field">
    <label>Nick</label>
    <input placeholder="Nick" type="text" name="nick" autofocus required>
  </div>
 
  <button class="ui blue submit button">Add User <i class="plus icon"></i></button>
</form>