<nav class="ui menu">
  
  <div class="centered menu">
    <a  id = "Home" class="item" href="/"> Home </a>
     <a  id = "Users" class="item" href="/userpage"> Users </a>
  </div>
  
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>
<script>
  $("#{{id}}").addClass("active item");
</script>


