<div class="ui card" >
  <div class="image">
    <img src= "https://cdn.glitch.com/9daffbf4-c05c-4e92-ad42-03997090589a%2Fthumbnails%2Fuser-1633249_1280.png?1581899592849">
  </div>
  <div class="content">
    
    <p class="header">{{nick}}</p>
  <a href="/userpage/deleteUser/{{id}}" class="ui icon button">
      <i class="icon trash"></i>
    </a>
         <a href="/shelf" class="ui icon button">
      <i class="icon folder open"></i>
    </a>
    

    
  </div>
</div>